/* @theme example */

@import 'default';

section {
  /* text-align: left; */
  font-size: 35px;
  font-family: 'Liberation Sans';
  background: #cef;
  color: #135;
}

section.outline {
  font-size: 15px;
}

.columnsflex {
  display: grid;
  display: flex;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  gap: 1rem;
}

.columns2 {
  display: grid;
  /* display: flex; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

/* .columns3 {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 1rem;
} */