/* @theme example */

@import 'default';

section {
  /* text-align: left; */
  font-size: 35px;
  font-family: 'Liberation Sans';
  background: #cef;
  color: #135;
}

section.outline {
  font-size: 15px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}